# Ignore all .env files anywhere in the repo
.env
.env.*

# Python cache
__pycache__/
*.pyc

# Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# System files
.DS_Store
Thumbs.db

# Editor configs (optional)
.vscode/
